In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from dst_incidence.amazon_prices import PriceHistoryCollector

In [3]:
collector = PriceHistoryCollector(
    sku_reference='B0000C73CQ', 
    country='France', 
    temp_folder='.'
)

In [4]:
collector.fetch_product_information()

In [5]:
collector.product_data

                             0                    1
0           Groupe de produits      Appareil-photos
1                    Catégorie           Accessoire
2                    Fabricant             Fujifilm
3                       Modèle  16386016 mini 2pack
4                       Locale                   FR
5                Prix de vente               16,99€
6                          UPC         745313129931
7                          SKU           B0000C73CQ
8  Dernier scan de mise à jour       il y a4 heures
9                Dernier suivi             11 jours

In [6]:
collector.price_history_summary

,Type de prix,Le plus bas jamais atteint *,Le plus élevé de tous les temps *,Actuel +,Moyenne *
0,Amazon,"10,99€ (29 mar. 2019)","126,94€ (27 sept. 2012)","16,90€ (07 sept. 2023)","16,22€"
1,Nouveauté 3ème partie,"1,99€ (31 mai 2013)","29,07€ (07 juin 2023)",-,"16,54€"
2,3eme occasion,"8,90€ (09 oct. 2019)","68,03€ (08 mai 2017)","16,56€ (16 jan. 2024)","16,63€"

In [7]:
collector.build_price_history_from_charts()

/Users/Paul-Emmanuel/.pyenv/versions/3.7.7/envs/lewagon-data/lib/python3.7/site-packages/dst_incidence/amazon_prices.py:226: RuntimeWarning: Mean of empty slice.
  avg_y_coord = img_array.shape[0] - y_coords.mean()
/Users/Paul-Emmanuel/.pyenv/versions/3.7.7/envs/lewagon-data/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [8]:
collector.price_histories

{'amazon':       x_axis_coord      price
 0             80.0        NaN
 1             81.0        NaN
 2             82.0  80.938098
 3             83.0  80.938098
 4             84.0  80.880810
 ...            ...        ...
 2901        3091.0  16.947905
 2902        3092.0  16.947905
 2903        3093.0  16.947905
 2904        3094.0  16.947905
 2905        3095.0  16.947905

 [2906 rows x 2 columns]}

In [9]:
collector.get_start_end_dates_from_charts()

In [10]:
collector.get_end_date_from_price_history_summary()

In [11]:
collector.convert_coordinates_to_timestamps()

In [12]:
collector.format_price_histories()

In [13]:
collector.price_histories

{'amazon':           price                          date         sku country unit  seller
 0           NaN 2013-10-01 00:00:00.000000000  B0000C73CQ  France    €  amazon
 1           NaN 2013-10-02 05:57:46.207846800  B0000C73CQ  France    €  amazon
 2     80.938098 2013-10-03 11:55:32.415690000  B0000C73CQ  France    €  amazon
 3     80.938098 2013-10-04 17:53:18.623536800  B0000C73CQ  France    €  amazon
 4     80.880810 2013-10-05 23:51:04.831383600  B0000C73CQ  France    €  amazon
 ...         ...                           ...         ...     ...  ...     ...
 2901  16.947905 2024-01-16 02:05:51.823813200  B0000C73CQ  France    €  amazon
 2902  16.947905 2024-01-17 08:03:38.031660000  B0000C73CQ  France    €  amazon
 2903  16.947905 2024-01-18 14:01:24.239503200  B0000C73CQ  France    €  amazon
 2904  16.947905 2024-01-19 19:59:10.447350000  B0000C73CQ  France    €  amazon
 2905  16.947905 2024-01-21 01:56:56.655196800  B0000C73CQ  France    €  amazon

 [2906 rows x 6 columns]}

In [14]:
collector.fetch_product_information()

collector.build_price_history_from_charts()
collector.get_start_end_dates_from_charts()
collector.get_end_date_from_price_history_summary()
collector.convert_coordinates_to_timestamps()

collector.format_price_histories()
collector.format_price_history_summary()
collector.format_product_data()
collector.build_collection_metadata()

/Users/Paul-Emmanuel/.pyenv/versions/3.7.7/envs/lewagon-data/lib/python3.7/site-packages/dst_incidence/amazon_prices.py:226: RuntimeWarning: Mean of empty slice.
  avg_y_coord = img_array.shape[0] - y_coords.mean()
/Users/Paul-Emmanuel/.pyenv/versions/3.7.7/envs/lewagon-data/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [15]:
collector.price_history_summary # ['first_date']

,sku,country,unit,seller,min_price,min_price_date,max_price,max_price_date,current_price,current_price_date,average_price
0,B0000C73CQ,France,€,amazon,10.99,2019-03-29,126.94,2012-09-27,16.90,2023-09-07,16.22
1,B0000C73CQ,France,€,new,1.99,2013-05-31,29.07,2023-06-07,NaN,NaT,16.54
2,B0000C73CQ,France,€,used,8.90,2019-10-09,68.03,2017-05-08,16.56,2024-01-16,16.63

In [16]:
collector.price_histories

{'amazon':           price                          date         sku country unit  seller
 0           NaN 2013-10-01 00:00:00.000000000  B0000C73CQ  France    €  amazon
 1           NaN 2013-10-02 05:57:46.207846800  B0000C73CQ  France    €  amazon
 2     80.938098 2013-10-03 11:55:32.415690000  B0000C73CQ  France    €  amazon
 3     80.938098 2013-10-04 17:53:18.623536800  B0000C73CQ  France    €  amazon
 4     80.880810 2013-10-05 23:51:04.831383600  B0000C73CQ  France    €  amazon
 ...         ...                           ...         ...     ...  ...     ...
 2901  16.947905 2024-01-16 02:05:51.823813200  B0000C73CQ  France    €  amazon
 2902  16.947905 2024-01-17 08:03:38.031660000  B0000C73CQ  France    €  amazon
 2903  16.947905 2024-01-18 14:01:24.239503200  B0000C73CQ  France    €  amazon
 2904  16.947905 2024-01-19 19:59:10.447350000  B0000C73CQ  France    €  amazon
 2905  16.947905 2024-01-21 01:56:56.655196800  B0000C73CQ  France    €  amazon

 [2906 rows x 6 columns]}

In [17]:
collector.sellers

{'amazon': {}}